<div class="container bg-container">
    <div class="page-title">
        <h1>Контакти</h1> </div>
    <div class="contacts-field">
        <div class="contacts-left">
            <div class="contacts-map" id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.1134437233295!2d23.998489315412137!3d49.80273487939124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7bbf9b97d87%3A0x3bf59cdb3ea5dd00!2z0YPQu9C40YbQsCDQndCw0YPQutC-0LLQsCwgN9CQLCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1sru!2sua!4v1521638483863" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="contacts-right">
            <div class="contacts-info">
                <div class="contacts-info-block">
                    <h6>Адреса:</h6>
                    <p> м. Львів
                        <br> вул. Наукова, 7-А </p>
                </div>
                <div class="contacts-info-block">
                    <h6>Графік роботи:</h6>
                    <ul>
                        <li>Пн-пт 8:00-17:00</li>
                        <li>Сб-нд вихідний</li>
                    </ul>
                </div>
                <div class="contacts-info-block">
                    <h6>Телефони:</h6>
                    <ul>
                        <li>Мобільний: +38 097 549 14 01</li>
                        <li>Факс:+38 032 229 55 65</li>
                    </ul>
                </div>
                <div class="contacts-info-block">
                    <h6>E-mail:</h6> <a href="mailto:sales@dilosoft.com" class="breakit">sales@dilosoft.com</a> </div>
            </div>
        </div>
    </div>
    <div class="contant-us">
        <h1>Напишіть нам</h1>
        {{msg}}
        <form class="form-horizontal" id="contact-form" role="form" method="post" action="send">
            <div class="form-input-group">
                <!-- NAME INPUT -->
                <div class="form-group">
                    <div class="input-group">
                        <!-- ICON -->
                        <div class="input-group-addon"> <span class="elegant icon_profile"></span> </div>
                        <!-- INPUT -->
                        <input type="text" name="user_name" id="name" placeholder="Ваше им'я*" data-minlength="5" required="" value=""> </div>
                </div>
                <!-- E-MAIL INPUT -->
                <div class="form-group">
                    <div class="input-group">
                        <!-- ICON -->
                        <div class="input-group-addon"> <span class="elegant icon_mail"></span> </div>
                        <!-- INPUT -->
                        <input type="email" id="email" placeholder="e-mail" name="user_email" value=""> </div>
                </div>
                <!-- PHONE NUMBER INPUT -->
                <div class="form-group">
                    <div class="input-group">
                        <!-- ICON -->
                        <div class="input-group-addon"> <span class="elegant icon_mobile"></span> </div>
                        <!-- PHONE NUMBER INPUT -->
                        <input type="tel" id="phone" placeholder="+38(0__)___-__-__*" required="" name="user_phone" value=""> </div>
                </div>
            </div>
            <div class="form-textarea-group">
                <div class="form-group">
                    <div class="input-group form-textarea">
                        <!-- ICON -->
                        <div class="input-group-addon"> <span class="elegant icon_pencil"></span> </div>
                        <!-- TEXTAREA -->
                        <textarea id="message" name="MESSAGE" rows="10" placeholder="Повідомлення*" required=""></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="button-group">
                <button type="submit" name="submit" form="contact-form" value="submit" class="btn-contacts disabled"> Написати </button>
            </div>
        </form>
    </div>
</div>