<div class="container bg-container">
    <div class="page-title">
        <h1>Ціни</h1> </div>
    <div class="price-card">
        <div class="price-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Торговий підрозділ</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="price-card-image">
            <div class="card-image"> <img src="../../img/2.png" alt="Front" width="250" height="168"> </div>
        </div>
    </div>
    <div class="price-card">
        <div class="price-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Центральний офіс</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="price-card-image">
            <div class="card-image"> <img src="../../img/1.png" alt="Front" width="250" height="168"> </div>
        </div>
    </div>
    <div class="price-card">
        <div class="price-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Он-Лайн Сервіси</h3>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Єдиний каталог»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Інформаційні залишки»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Резервування»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Кабінет страховика»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Електронний рецепт»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Процесинговий центр, управління знижками»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Розрахунковий центр»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Мобільний додаток»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bold">Онлайн – сервіс «Особистий кабінет Виробника»</span> - </p>
                            </td>
                            <td>2000.00 грн/міс</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="price-card-image">
            <div class="card-image"> <img src="../../img/2.png" alt="Front" width="250" height="168"> </div>
        </div>
    </div>
</div>