
   <div class="container bg-container">
    <div class="page-title">
        <h1>Продукти</h1> </div>
    <div class="product-card">
        <div class="product-card-image">
            <div class="card-image"> <img src="../../img/2.png" alt="Front" > </div>
        </div>
        <div class="product-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Торговий підрозділ</h3>
                    <p>Галузеве рішення <span class="bold">"1С:Підприємство 8.  ДілоСофт Аптека: Торговий підрозділ"</span> (коротка назва - <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span>) призначений для роботи зі специфічним асортиментом (лікарські засоби, товари медичного призначення) і бізнес-процесами аптек (по-серійний облік лікарських засобів, контроль фальсифікатів і термінів придатності, контроль правил ціноутворення і т.д.), як у варіанті одиночної аптеки, так і мережі аптек.</p>
                </div>
                <div class="details-button">
                    <button type="button" class="btn btn-primary" ng-click="products.trigger()">Детальніше...</button>
                </div>
            </div>
            <div class="description-full" ng-if="products.check">
                <div class="description-text">
                    <p> <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> призначено для автоматизації оперативного і управлінського обліку, аналізу та планування операцій в роздрібній торгівлі лікарськими засобами та виробами медичного призначення, як у форматі одиночних аптек, так і роздрібної аптечної мережі.</p>
                    <p><span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> дозволяє автоматизувати облік товарних запасів на складах та облік грошових коштів у касах аптек.</p>
                    <h4>Основні функціональні можливості галузевого рішення:</h4>
                    <p>Оперативна реалізація товарів – робоче місце касира (надалі РМК) зі зручним та інтуїтивним інтерфейсом та широким функціоналом:</p>
                    <ul>
                        <li>Швидкий пошук товару(фільтри по найменуванню та діючій речовині), пошук аналогів та додаткових товарів;</li>
                        <li>Робота з замовленнями клієнтів (товари замовлені через службу довідки, замовлення страхових компаній, сторонні сервіси і т.д.);</li>
                        <li>Оформлення повернень товарів від покупців (реалізовані механізми автоматичного створення необхідних документів при поверненні "Не День у День" у режимі РМК);</li>
                        <li>Оформлення чеків продажу, і після закінчення зміни зведеного звіту по контрольно-касовій машині, з урахуванням повернених товарів на зміну;</li>
                        <li>Робота з еквайринговими системами, облік оплат товарів по платіжних картах;</li>
                        <li>Реалізована можливість оплати сертифікатами, отримання ліків за страховим полісом, та за рецептом (програма «Доступні ліки»);</li>
                        <li>Реалізована можливість торгівлі комплектами товарів, створеними як в момент продажу товару, так і попередньо підготовленими комплектами;</li>
                        <li>Підтримка торгового обладнання: фіскальні реєстратори, термінали збору даних, сканери штрихкодів, вагове обладнання, дисплеї покупця, платіжні термінали, рідери магнітних карт;</li>
                        <li>Система підтримує підключення торгового обладнання як у мережевому режимі(за підтримки такої опції торговим обладнанням) так і в термінальному режимі.</li>
                        <li>Можливість роботи з сенсорними дисплеями;</li>
                    </ul>
                    <p>Формування дефектури та замовлення товарів на торговий підрозділ:</p>
                    <ul>
                        <li>Реалізовано функціонал що дозволяє формувати замовлення торгового підрозділу використовуючи кілька варіантів заповнення дефектури:
                            <ul class="secondary-list">
                                <li>Автоматичне заповнення дефектури – розраховує потребу виходячи з попередньо налаштованих параметрів розрахунку та ABC/XYZ аналізу;</li>
                                <li>Заповнення дефектури неповними кількостями – призначене для заповнення замовлення товарами, які мають неповні упаковки та кількість котрих менша за ту, яка попередньо прописана як мінімальна;</li>
                                <li>Заповнення дефектури по переміщеннях - додає в замовлення товари котрі були переміщені з аптеки за поточний день;</li>
                                <li>Заповнення дефектури по замовленнях покупців;</li>
                                <li>Заповнення дефектури ручне - замовлення позицій номенклатури відсутніх у торговому підрозділі, на котре був попит на протязі дня</li>
                            </ul>
                        </li>
                        <li>В системі реалізована можливість здійснити замовлення будь-якого товару, котрий наявний в прайс-листах постачальників (при умові використання "ДілоСофт Аптека: Центральний офіс" як керуючої системи);</li>
                    </ul>
                    <p>Товарний облік на торговому підрозділі:</p>
                    <ul>
                        <li>Облік лікарняних засобів за: формою випуску, дозуванням, виробником, сертифікатом, фармакологічною групою;</li>
                        <li>Вказання ознак належності: міжнародне непатентоване найменування, входження в обов’язковий асортимент, життєво важливі лікарські засоби, відпуск по рецепту, вказання номеру ЕГК, вказання виробника лікарського засобу у картці номенклатури або в серії;</li>
                        <li>Автоматизований контроль: фальсифікатів, обов’язкового асортименту, терміну придатності, роздрібної націнки на відхилення від гранично допустимої, відпуск по рецепту,мінімального залишку лікарського засобу на складі, контроль реєстрових цін виробника;</li>
                        <li>Посерійний облік в розрізі партій з можливістю штрихового кодування;</li>
                        <li>Автоматичне призначення цін на серію в розрізі партій;</li>
                        <li>Оформлення приходу лікарських засобів від контрагента на склади аптек, в тому числі в двохфазовому (ордерному) режимі;</li>
                        <li>Оформлення переміщення лікарських засобів між аптеками, внутрішніми складами аптек, аптеками і складами підприємства, в тому числі в двохфазовому (ордерному) режимі;</li>
                        <li>Ергономічний та інтуїтивний інтерфейс вікна прийомки товару;</li>
                        <li>Оформлення документів інвентаризації лікарських засобів ("Інвентаризація товарів", "Списання товарів", "Оприбуткування товарів");</li>
                        <li>Оформлення прибуткових та видаткових касових ордерів безпосередньо в аптеках;</li>
                    </ul>
                    <p>Гнучка система знижок та систем лояльності:</p>
                    <ul>
                        <li>можливість використання процентних знижок по дисконтних картах (накопичувальні знижки), знижки з поділом по аптеках, знижки на суму чека, знижки за часом дії, по кількості товару, по виду оплати;</li>
                        <li>Групи знижок: на товар та на чек в цілому;</li>
                        <li>Множинні умови надання знижок: по дисконтній карті, на товар (групу товарів), на кількість товару, в день народження покупця, по купону, на суму чека, по часу доби и дню тижня;</li>
                        <li>Знижка може бути ручною або автоматичною, абсолютною чи відносною, може мати ознаку пріоритету над іншими знижками;</li>
                    </ul>
                    <p>Підтримка соціальних проектів: </p>
                    <ul>
                        <li>В системі реалізована підтримка соціальних проектів таких як: «Оранжкард», «Медікард», MDM (медреєстр) і т.д., даний функціонал дозволяє проводити реєстрацію знижки за соціальною програмою безпосередньо у РМК.</li>
                    </ul>
                    <p>Оформлення доставки:</p>
                    <ul>
                        <li>В галузевому рішенні реалізовано функціонал котрий дозволяє оформляти доставку товару по «Замовленнях покупців» та по оплачених чеках;</li>
                        <li>Для реалізації даної функції розроблено «АРМ менеджера з доставки» котрий має зручний та інтуїтивний інтерфейс, функціонал арму дозволяє обирати склади з яких буде відбуватись доставка, а також розприділяти завдання на доставку по транспортних засобах(кур’єрах), змінювати статус замовлення, переглядати дату і час доставки;</li>
                    </ul>
                    <p>Служба довідки:</p>
                    <ul>
                        <li>В системі реалізовано «АРМ довідка» - робоче місце оператора для прийому дзвінків покупців, пошуку товарів, формування і резервування замовлень;</li>
                        <li>До функціоналу «АРМ довідка» входить: пошук товарів, формування і резервування замовлень, редагування замовлень, перегляд стану замовлень, закриття замовлень(за необхідності);</li>
                        <li>В системі наявний звіт «Інформація про дзвінки» котрий містить статистичну інформацію про роботу служби довідки;</li>
                    </ul>
                    <p>Аналітика і звітність:</p>
                    <ul>
                        <li>В системі реалізований ряд звітів для завідуючих аптеками: звіт «Товари по термінах придатності і ліцензії», звіт «Рух грошових коштів по видах оплат», звіт «Товарний звіт»;</li>
                        <li>А також ряд інших звітів для кожного з розділів(Маркетинг, Продажі, Закупки, Склад, Фінанси);</li>
                    </ul>
                    <p>Застосування галузевого рішення для автоматизації аптек, аптечних кіосків та мереж аптек дозволить істотно скоротити витрати і терміни введення системи в експлуатацію, по відношенню до універсальних рішень, завдяки реалізації в ньому основних бізнес-процесів, властивих успішним підприємствам цієї галузі.</p>
                    <p>У конфігурації <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> ведеться облік по серіях для лікарських засобів. Серійний облік лікарських засобів реалізований на базі механізму характеристик. Рішення дозволяє вести облік життєво необхідних і важливих лікарських засобів, обов'язкового аптечного асортименту і спеціалізованих груп, облік аналогів лікарських засобів, що дозволяє знайти заміну відсутньому лікарському засобу або товару. </p>
                    <p>Реалізований механізм завантаження / вивантаження документів із зовнішнього файлу (формати txt, dbf, xls, mxl, exp, mmo). У документах здійснюється контроль фальсифікованих препаратів, а також серій з вичерпаним терміном придатності.</p>
                    <p>Інформаційні бази, створені на основі галузевого рішення <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span>, мають можливість роботи в режимі розподілених інформаційних баз (РІБ) з чітким поділом документообігу по аптеках, де в головному вузлі РІБ консолідується інформація по всіх аптеках мережі. Передбачені механізми автоматичного ініціювання обміну.</p>
                    <p>Поряд з РІБ <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> може автоматично обмінюватися інформацією з керуючою інформаційною системою (back-office) в дуплексному режимі. У якості керуючої системи для <span class="bold">"Ділософт Аптека: Торговий підрозділ"</span> пропонується конфігурація <span class="bold">"ДілоСофт Аптека: Центральний офіс"</span>.</p>
                    <p>У керуючій системі можна створити необмежену кількість вузлів конфігурації <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span>, які в свою чергу можуть бути головними вузлами розподіленої інформаційної бази.</p>
                    <p>Передбачені механізми адміністрування користувачів інформаційної бази віддалених вузлів РІБ з головного вузла <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> адміністратором системи, наприклад, в головному вузлі РІБ, адміністратор системи може створити (редагувати, призначати ролі, інтерфейси, скидати пароль) користувача інформаційної бази віддаленого вузла , а також мати доступ до актуальної інформації про настройках користувачів ІБ, зроблених в режимі конфігуратора (або підприємства) безпосередньо у вузлах РІБ.</p>
                    <p>У <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> разом з можливістю вести облік по багатьох магазинах, реалізований облік по декількох організаціях, де кожен склад (торговий зал) може бути віднесений до певної організації.</p>
                    <p><span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> може використовувати ордерні схеми переміщення, реалізації та надходження товарів в аптеки. Ордерна схема являє собою переміщення в буферний список товарів, необхідних до прийняття або відвантаження зі складу, фактична ж операція з товарним залишком на складі проводиться видатковими або прибутковим ордером.</p>
                    <p>У системі реалізовані механізми створення макетів цінників і етикеток та їх друку з будь-яких видів "товарних" документів.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-card-image">
            <div class="card-image"> <img src="../../img/1.png" alt="Front" width="250" height="168"> </div>
        </div>
        <div class="product-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Центральний офіс</h3>
                    <p>Галузеве рішення <span class="bold">"1С:Підприємство 8.  ДілоСофт Аптека: Центральний офіс"</span> (коротка назва - <span class="bold">"ДілоСофт Аптека: Центральний офіс"</span>) призначений для роботи зі специфічним асортиментом (лікарські засоби, товари медичного призначення) і бізнес-процесами що відбуваються на рівні центрального офісу (посерійний облік лікарських засобів, контроль фальсифікатів і термінів придатності, ціноутворення, управління асортиментом, управління відносинами з контрагентами, управління системами знижок та лояльності і т.д.) мережі аптек.</p>
                </div>
                <div class="details-button">
                    <button type="button" class="btn btn-primary" ng-click="products.trigger2()">Детальніше...</button>
                </div>
            </div>
            <div class="description-full" ng-if="products.check2">
                <div class="description-text">
                    <p> <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> призначено для автоматизації оперативного і управлінського обліку, аналізу та планування операцій в роздрібній торгівлі лікарськими засобами та виробами медичного призначення, як у форматі одиночних аптек, так і роздрібної аптечної мережі.</p>
                    <p><span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> дозволяє автоматизувати облік товарних запасів на складах та облік грошових коштів у касах аптек.</p>
                    <h4>Основні функціональні можливості галузевого рішення:</h4>
                    <p>Оперативна реалізація товарів – робоче місце касира (надалі РМК) зі зручним та інтуїтивним інтерфейсом та широким функціоналом:</p>
                    <ul>
                        <li>Швидкий пошук товару(фільтри по найменуванню та діючій речовині), пошук аналогів та додаткових товарів;</li>
                        <li>Робота з замовленнями клієнтів (товари замовлені через службу довідки, замовлення страхових компаній, сторонні сервіси і т.д.);</li>
                        <li>Оформлення повернень товарів від покупців (реалізовані механізми автоматичного створення необхідних документів при поверненні "Не День у День" у режимі РМК);</li>
                        <li>Оформлення чеків продажу, і після закінчення зміни зведеного звіту по контрольно-касовій машині, з урахуванням повернених товарів на зміну;</li>
                        <li>Робота з еквайринговими системами, облік оплат товарів по платіжних картах;</li>
                        <li>Реалізована можливість оплати сертифікатами, отримання ліків за страховим полісом, та за рецептом (програма «Доступні ліки»);</li>
                        <li>Реалізована можливість торгівлі комплектами товарів, створеними як в момент продажу товару, так і попередньо підготовленими комплектами;</li>
                        <li>Підтримка торгового обладнання: фіскальні реєстратори, термінали збору даних, сканери штрихкодів, вагове обладнання, дисплеї покупця, платіжні термінали, рідери магнітних карт;</li>
                        <li>Система підтримує підключення торгового обладнання як у мережевому режимі(за підтримки такої опції торговим обладнанням) так і в термінальному режимі.</li>
                        <li>Можливість роботи з сенсорними дисплеями;</li>
                    </ul>
                    <p>Формування дефектури та замовлення товарів на торговий підрозділ:</p>
                    <ul>
                        <li>Реалізовано функціонал що дозволяє формувати замовлення торгового підрозділу використовуючи кілька варіантів заповнення дефектури:
                            <ul class="secondary-list">
                                <li>Автоматичне заповнення дефектури – розраховує потребу виходячи з попередньо налаштованих параметрів розрахунку та ABC/XYZ аналізу;</li>
                                <li>Заповнення дефектури неповними кількостями – призначене для заповнення замовлення товарами, які мають неповні упаковки та кількість котрих менша за ту, яка попередньо прописана як мінімальна;</li>
                                <li>Заповнення дефектури по переміщеннях - додає в замовлення товари котрі були переміщені з аптеки за поточний день;</li>
                                <li>Заповнення дефектури по замовленнях покупців;</li>
                                <li>Заповнення дефектури ручне - замовлення позицій номенклатури відсутніх у торговому підрозділі, на котре був попит на протязі дня</li>
                            </ul>
                        </li>
                        <li>В системі реалізована можливість здійснити замовлення будь-якого товару, котрий наявний в прайс-листах постачальників (при умові використання "ДілоСофт Аптека: Центральний офіс" як керуючої системи);</li>
                    </ul>
                    <p>Товарний облік на торговому підрозділі:</p>
                    <ul>
                        <li>Облік лікарняних засобів за: формою випуску, дозуванням, виробником, сертифікатом, фармакологічною групою;</li>
                        <li>Вказання ознак належності: міжнародне непатентоване найменування, входження в обов’язковий асортимент, життєво важливі лікарські засоби, відпуск по рецепту, вказання номеру ЕГК, вказання виробника лікарського засобу у картці номенклатури або в серії;</li>
                        <li>Автоматизований контроль: фальсифікатів, обов’язкового асортименту, терміну придатності, роздрібної націнки на відхилення від гранично допустимої, відпуск по рецепту,мінімального залишку лікарського засобу на складі, контроль реєстрових цін виробника;</li>
                        <li>Посерійний облік в розрізі партій з можливістю штрихового кодування;</li>
                        <li>Автоматичне призначення цін на серію в розрізі партій;</li>
                        <li>Оформлення приходу лікарських засобів від контрагента на склади аптек, в тому числі в двохфазовому (ордерному) режимі;</li>
                        <li>Оформлення переміщення лікарських засобів між аптеками, внутрішніми складами аптек, аптеками і складами підприємства, в тому числі в двохфазовому (ордерному) режимі;</li>
                        <li>Ергономічний та інтуїтивний інтерфейс вікна прийомки товару;</li>
                        <li>Оформлення документів інвентаризації лікарських засобів ("Інвентаризація товарів", "Списання товарів", "Оприбуткування товарів");</li>
                        <li>Оформлення прибуткових та видаткових касових ордерів безпосередньо в аптеках;</li>
                    </ul>
                    <p>Гнучка система знижок та систем лояльності:</p>
                    <ul>
                        <li>можливість використання процентних знижок по дисконтних картах (накопичувальні знижки), знижки з поділом по аптеках, знижки на суму чека, знижки за часом дії, по кількості товару, по виду оплати;</li>
                        <li>Групи знижок: на товар та на чек в цілому;</li>
                        <li>Множинні умови надання знижок: по дисконтній карті, на товар (групу товарів), на кількість товару, в день народження покупця, по купону, на суму чека, по часу доби и дню тижня;</li>
                        <li>Знижка може бути ручною або автоматичною, абсолютною чи відносною, може мати ознаку пріоритету над іншими знижками;</li>
                    </ul>
                    <p>Підтримка соціальних проектів: </p>
                    <ul>
                        <li>В системі реалізована підтримка соціальних проектів таких як: «Оранжкард», «Медікард», MDM (медреєстр) і т.д., даний функціонал дозволяє проводити реєстрацію знижки за соціальною програмою безпосередньо у РМК.</li>
                    </ul>
                    <p>Оформлення доставки:</p>
                    <ul>
                        <li>В галузевому рішенні реалізовано функціонал котрий дозволяє оформляти доставку товару по «Замовленнях покупців» та по оплачених чеках;</li>
                        <li>Для реалізації даної функції розроблено «АРМ менеджера з доставки» котрий має зручний та інтуїтивний інтерфейс, функціонал арму дозволяє обирати склади з яких буде відбуватись доставка, а також розприділяти завдання на доставку по транспортних засобах(кур’єрах), змінювати статус замовлення, переглядати дату і час доставки;</li>
                    </ul>
                    <p>Служба довідки:</p>
                    <ul>
                        <li>В системі реалізовано «АРМ довідка» - робоче місце оператора для прийому дзвінків покупців, пошуку товарів, формування і резервування замовлень;</li>
                        <li>До функціоналу «АРМ довідка» входить: пошук товарів, формування і резервування замовлень, редагування замовлень, перегляд стану замовлень, закриття замовлень(за необхідності);</li>
                        <li>В системі наявний звіт «Інформація про дзвінки» котрий містить статистичну інформацію про роботу служби довідки;</li>
                    </ul>
                    <p>Аналітика і звітність:</p>
                    <ul>
                        <li>В системі реалізований ряд звітів для завідуючих аптеками: звіт «Товари по термінах придатності і ліцензії», звіт «Рух грошових коштів по видах оплат», звіт «Товарний звіт»;</li>
                        <li>А також ряд інших звітів для кожного з розділів(Маркетинг, Продажі, Закупки, Склад, Фінанси);</li>
                    </ul>
                    <p>Застосування галузевого рішення для автоматизації аптек, аптечних кіосків та мереж аптек дозволить істотно скоротити витрати і терміни введення системи в експлуатацію, по відношенню до універсальних рішень, завдяки реалізації в ньому основних бізнес-процесів, властивих успішним підприємствам цієї галузі.</p>
                    <p>У конфігурації <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> ведеться облік по серіях для лікарських засобів. Серійний облік лікарських засобів реалізований на базі механізму характеристик. Рішення дозволяє вести облік життєво необхідних і важливих лікарських засобів, обов'язкового аптечного асортименту і спеціалізованих груп, облік аналогів лікарських засобів, що дозволяє знайти заміну відсутньому лікарському засобу або товару. </p>
                    <p>Реалізований механізм завантаження / вивантаження документів із зовнішнього файлу (формати txt, dbf, xls, mxl, exp, mmo). У документах здійснюється контроль фальсифікованих препаратів, а також серій з вичерпаним терміном придатності.</p>
                    <p>Інформаційні бази, створені на основі галузевого рішення <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span>, мають можливість роботи в режимі розподілених інформаційних баз (РІБ) з чітким поділом документообігу по аптеках, де в головному вузлі РІБ консолідується інформація по всіх аптеках мережі. Передбачені механізми автоматичного ініціювання обміну.</p>
                    <p>Поряд з РІБ <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> може автоматично обмінюватися інформацією з керуючою інформаційною системою (back-office) в дуплексному режимі. У якості керуючої системи для <span class="bold">"Ділософт Аптека: Торговий підрозділ"</span> пропонується конфігурація <span class="bold">"ДілоСофт Аптека: Центральний офіс"</span>.</p>
                    <p>У керуючій системі можна створити необмежену кількість вузлів конфігурації <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span>, які в свою чергу можуть бути головними вузлами розподіленої інформаційної бази.</p>
                    <p>Передбачені механізми адміністрування користувачів інформаційної бази віддалених вузлів РІБ з головного вузла <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> адміністратором системи, наприклад, в головному вузлі РІБ, адміністратор системи може створити (редагувати, призначати ролі, інтерфейси, скидати пароль) користувача інформаційної бази віддаленого вузла , а також мати доступ до актуальної інформації про настройках користувачів ІБ, зроблених в режимі конфігуратора (або підприємства) безпосередньо у вузлах РІБ.</p>
                    <p>У <span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> разом з можливістю вести облік по багатьох магазинах, реалізований облік по декількох організаціях, де кожен склад (торговий зал) може бути віднесений до певної організації.</p>
                    <p><span class="bold">"ДілоСофт Аптека: Торговий підрозділ"</span> може використовувати ордерні схеми переміщення, реалізації та надходження товарів в аптеки. Ордерна схема являє собою переміщення в буферний список товарів, необхідних до прийняття або відвантаження зі складу, фактична ж операція з товарним залишком на складі проводиться видатковими або прибутковим ордером.</p>
                    <p>У системі реалізовані механізми створення макетів цінників і етикеток та їх друку з будь-яких видів "товарних" документів.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-card-image">
            <div class="card-image"> <img src="../../img/2.png" alt="Front" width="250" height="168"> </div>
        </div>
        <div class="product-card-description">
            <div class="description-short">
                <div class="description-text">
                    <h3>ДілоСофт Аптека: Он-Лайн Сервіси</h3>
                    <p>В галузевому рішенні <span class="bold">"ДілоСофт Аптека"</span> реалізована новаторська технологія перенесення в мережу Інтернет (Cloud) важливих бізнес – процесів.</p>
                    <p>Окремі on-line Сервіси можуть використовуватися як в складі Рішення ДілоСофт Аптека, так і як окремі on-line Сервіси, інтегровані із зовнішніми рішеннями третіх сторін. </p>
                </div>
                <div class="details-button">
                    <button type="button" class="btn btn-primary" ng-click="products.trigger3()">Детальніше...</button>
                </div>
            </div>
            <div class="description-full" ng-if="products.check3">
                <div class="description-text">
                    <h4> ДілоСофт Аптека: On-Line сервіси:</h4>
                    <p><span class="bold">Онлайн – сервіс «Єдиний каталог»</span> - доступ до єдиного довідника товарів, котрий постійно поновлюється та доповняється. Даний сервіс надає можливість підприємству синхронізувати довідник номенклатури з довідником сервісу, що в свою чергу скортить витрати часу на ведення власного каталогу номенклатури, дозволить уніфікувати номенклатуру з номенклатурою виробників та постачальників;</p>
                    <p><span class="bold">Онлайн – сервіс «Інформаційні залишки»</span> - сервіс надає можливість провізорам бачити залишки та ціни номенклатурних позицій у інших апткеах мережі, що у випадку відсутності номенклатурної позиції у конкретному торговому підрозділі, дозволить не втратити клієнта, а перенаправити його у найближчу аптеку вашої мережі, де дана номенклатурна позиція наявна на залишку; </p>
                    <p><span class="bold">Онлайн – сервіс «Резервування»</span> - сервіс надає можливість зарезервувати необхідну кількість конкретного товару або переліку товарів на конкретному торговому підрозділі. Користувачами даногосервісу можуть бути: користувачі «Мобільного додатку, Страхові компанії, кліники автоматизовані за допомогою «Др.Елекс», власні користувачі;</p>
                    <p><span class="bold">Онлайн – сервіс «Кабінет страховика»</span> - можливість залучити додатковий канал збуту товарів і призначений для організації співпраці із страховими компаніями;</p>
                    <p><span class="bold">Онлайн – сервіс «Електронний рецепт»</span> - сервіс розроблений для інтеграції із програмою «Доктор Елекс», що надає додатковий канал збуту. А саме медичні заклади які автоматизовані за допомогою Др.Елекс;</p>
                    <p><span class="bold">Онлайн – сервіс «Процесинговий центр, управління знижками»</span> - забезпечує виконання усіх маркетингових програм, правил надання знижок та програм лояльності при ціноутворенні. Нарахування та списання балів на рахунку Покупця в режимі on-line;</p>
                    <p><span class="bold">Онлайн – сервіс «Розрахунковий центр»</span> - сервіс призначений для організації тендерних закупок товарів для поповнення товарних запасів підприємства;</p>
                    <p><span class="bold">Онлайн – сервіс «Мобільний додаток»</span> - сервіс дозволить підключити до on-line сервісів рішення ДілоСофт Аптека Користувачів мобільних додатків Клієнта. Даний сервіс дозволить підвищити лояльність ваших клієнтів, оскільки надає можливість оперативно знайти інформацію про потрібний препарат (інструкція, фотографія і т.д), отримати інформацію про аптеки вашої мережі де він наявний разом з інформацією про вартість препарату, а також зарезервувати даний препарат;</p>
                    <p><span class="bold">Онлайн – сервіс «Особистий кабінет Виробника»</span> - Сервіс призначений для надання Виробнику товарів прямого доступу до даних про товари його виробництва, які продаються в торгових підрозділах Замовника. Виробнику доступна інформація про об’єми закупівель, реалізації та залишків на складах товарів його виробництва. Даний сервіс дозволяє скоротити витрати робочого часу працівників вашого підприємства на формування звітів виробникам. Виробник в свою чергу має можливість контролювати продажі власних товарів та проводити додаткові акції для стимулювання продажів.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
