@font-face{
    font-family: 'PT_Sans-Caption';
    src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf');
}

@font-face{
    font-family: 'Russo_One';
    src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
}

