.genious {
    background-image: url('../../img/icons/icon_genius.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.flowchat {
    background-image: url('../../img/icons/icon_flowchart.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.laptop {
    background-image: url('../../img/icons/icon_laptop.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.balance {
    background-image: url('../../img/icons/icon_balance.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile {
    background-image: url('../../img/icons/icon_mobile.svg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

.fb {
    background-image: url('../../img/icons/facebook%20(1).svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fb:hover {
    background-image: url('../../img/icons/facebook.svg');
}

.gplus {
    background-image: url('../../img/icons/google-plus%20(1).svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gplus:hover {
    background-image: url('../../img/icons/google-plus.svg');
}

.skype {
    background-image: url('../../img/icons/skype%20(1).svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.skype:hover {
    background-image: url('../../img/icons/skype.svg');
}

.icon_profile {
    background-image: url('../../img/icons/icon_profile.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_mail {
    background-image: url('../../img/icons/icon_mail_alt.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_mobile {
    background-image: url('../../img/icons/icon_mobile_alt.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_pencil {
    background-image: url('../../img/icons/icon_pencil-edit.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

