.bg-container {
    background-image: url('../../img/03pattern.png');
    padding-bottom: 10px;
    min-height: 90vh;
}

.main-menu {
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    .logo {
        width: 85px;
        height: 50px;
        margin: 0 30px;
    }
    .menu {
        width: 800px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        a {
            display: block;
            width: 100px;
            text-decoration: none;
            text-align: center;
        }
    }
    .phone {
        width: 250px;
        color: $footerBgColor;
        margin-left: 100px;
    }
}

.features-block {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .feature {
        width: 350px;
        padding: 15px;
        margin: 10px auto;
        .feature-icon {
            width: 89px;
            height: 89px;
            margin: 0 auto;
        }
        h5 {
            width: 300px;
            margin: 30px auto 15px;
            color: $inputGroupAddonColor;
            font-weight: bold;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .feature:hover {
        box-shadow: inset 0px 0px 0px 1px #e2e2e2;
        border-radius: 5px;
    }
}

.social-block {
    width: 180px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .social {
        width: 35px;
        height: 35px;
    }
}

.page-title {
    font-family: $headerFont;
    color: $headerFontColor;
    font-size: 16pt;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
    }
}

.contacts-field {
    display: flex;
    .contacts-left {
        padding: 20px;
        .contacts-map {
            width: 700px;
            height: 500px;
            iframe {
                width: 700px;
                height: 500px;
                border: 1px solid gray;
            }
        }
    }
    .contacts-right {
        padding: 20px;
        .contacts-info {
            width: 250px;
            h6 {
                font-weight: bold;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
            }
            ul {
                margin-bottom: 10px;
            }
        }
    }
}

.contant-us {
    h1 {
        font-family: $headerFont;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
        color: $headerFontColor;
        font-size: 16pt;
    }
}

.form-input-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-group {
    width: 330px;
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        .input-group-addon {
            background: $inputGroupAddonColor;
            border-color: $inputGroupAddonColor;
            width: 68px;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: table-cell;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-sizing: border-box;
            position: relative;
        }
        input {
            display: table-cell;
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
            padding: 6px 12px;
            margin: 0;
            line-height: 1.42857143;
            color: #555;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 64px;
            font-weight: 400;
        }
    }
}

.form-textarea-group {
    width: 1070px;
    margin: auto;
    .form-group {
        width: 100%;
    }
    textarea {
        background-color: #f3f3f3;
        resize: none;
        padding: 20px 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        height: auto;
        line-height: 1.42857143;
        color: #555;
        overflow: auto;
    }
    .elegant {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 100px;
        left: 18px;
    }
}

.button-group {
    display: flex;
    flex-flow: row-reverse;
}

.btn-contacts {
    width: 250px;
    height: 64px;
    background-color: $inputGroupAddonColor;
    color: white;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.elegant {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 17px;
    left: 18px;
}

.product-card {
    width: 1000px;
    min-height: 250px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    .product-card-image {
        width: 300px;
        box-sizing: border-box;
        .card-image {
            width: 250px;
            height: 250px;
            padding: 42px 25px;
            img {
                width: 250px;
                height: 168px;
            }
        }
    }
    .product-card-description {
        width: 700px;
        border-left: 2px solid #ccc;
        .description-short {
            padding: 20px;
            .description-text {
                line-height: 18pt;
                h3 {
                    width: 450px;
                    margin: 0 auto 15px;
                    font-weight: bold;
                    font-size: 16pt;
                }
                .bold {
                    font-weight: bold;
                }
            }
            .details-button {
                width: 100%;
                display: flex;
                flex-flow: row-reverse;
                button {
                    margin: 20px;
                }
            }
        }
        .description-full {
            padding: 20px;
            .description-text {
                line-height: 18pt;
                h3 {
                    width: 450px;
                    margin: 0 auto 15px;
                    font-weight: bold;
                    font-size: 16pt;
                }
                h4 {
                    margin: 10px;
                    font-weight: bold;
                    font-size: 14pt;
                }
                .bold {
                    font-weight: bold;
                }
                p {
                    margin-bottom: 10px;
                    font-weight: 500;
                }
                ul {
                    list-style: disc;
                    margin-bottom: 10px;
                    li {
                        margin-left: 25px;
                    }
                }
                .secondary-list {
                    list-style: circle;
                }
            }
        }
    }
}

.price-card {
    width: 1000px;
    min-height: 250px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
    .price-card-image {
        width: 300px;
        box-sizing: border-box;
        .card-image {
            width: 250px;
            height: 250px;
            padding: 42px 25px;
            img {
                width: 250px;
                height: 168px;
            }
        }
    }
    .price-card-description {
        width: 700px;
        border-right: 2px solid #ccc;
        .description-short {
            padding: 20px;
            .description-text {
                line-height: 18pt;
                h3 {
                    width: 450px;
                    margin: 0 auto 15px;
                    font-weight: bold;
                    font-size: 16pt;
                }
                .bold {
                    font-weight: bold;
                }
                td:first-child {
                    width: 500px;
                }
            }
        }
    }
}

.about-us {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    .office {
        width: 267px;
        height: 400px;
        img {
            width: 267px;
            height: 400px;
        }
    }
    .company-description {
        width: 800px;
        padding: 0 20px;
        line-height: 18pt;
    }
}

.scroll-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url(../../img/icons/arrow_carrot-up_alt2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.scroll-button:hover {
    opacity: 1;
}